<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Reviews</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="back-to-main">
        <a href="/">Back to Main Page</a>
    </div>

    <div class="all-reviews">
        <h2>All Reviews</h2>
        {% for review in all_reviews %}
            <div class="review">
                <strong>{{ review.username }}</strong> rated it {{ review.rating }} stars.
                <p>{{ review.review }}</p>
                
                
                <hr>
            </div>
        {% endfor %}
    </div>

</body>
</html>
